:root {
  --main-text-color: #212121;
  --second-main-text-color: #2196f3;
  --third-main-text-color: #757575;
  --second-contacts-color: #ffffff99;
  --acent-color-text: #ffffff;
  --acent-color-for-containers: #ffffff;
  --acent-color-for-containers-two: #2f303a;
  --buttons-color-background: #f5f4fa;
  --team-container-color-background: #f5f4fa;
}
body {
  font-family: "Roboto", sans-serif;
  background: var(--acent-color-for-containers);
}
.container {
  max-width: 1200px;
  text-align: center;
  margin: auto;
}
.page-header {
  background: var(--acent-color-for-containers);
  width: 100%;
  height: 80px;
  margin-top: 0px;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-section__container-logo {
  margin-right: 93px;
}
.logo {
  color: var(--second-main-text-color);
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo__piece {
  color: var(--main-text-color);
}
.logo__piece--reverse {
  color: var(--acent-color-text);
}
.nav-list {
  list-style-type: none;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 32px;
  margin-right: 330px;
  height: 48px;
}

.nav-list__item:not(:last-child) {
  margin-right: 46px;
}
.nav-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  width: fit-content;
  position: relative;
  display: inline-block;
}
.nav-list__link:hover,
.nav-list__link:focus {
  color: var(--second-main-text-color);
}
.underline::after {
  content: "";
  position: absolute;
  background-color: var(--second-main-text-color);
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  top: 42px;
  fill: solid;
}

.contact {
  display: flex;
  width: fit-content;
}

.contact__links {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-main-text-color);
  width: fit-content;
  display: flex;
  text-align: center;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__links:not(:last-child) {
  margin-right: 30px;
}
.contact__links:hover,
.contact__links:focus {
  color: var(--second-main-text-color);
  --color1: var(--second-main-text-color);
}
.contact__icon--elvelope {
  width: 16px;
  height: 12px;
  margin-top: 2px;
  margin-right: 10px;
}
.contact__icon--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.contact-links-bottom {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-contacts-color);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links-bottom:hover,
.contact-links-bottom:focus {
  color: var(--second-main-text-color);
}

.first-container {
  background-color: var(--acent-color-for-containers-two);
  background-image: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 0%
    ),
    url(../images/backimg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 600px;
  width: 100%;
  height: 600px;
  display: flex;
}

.primary-h {
  width: 696px;
  height: fit-content;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--acent-color-text);
  margin-top: 0px;
  margin-bottom: 30px;
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  z-index: 1;
  justify-content: center;
}
.modal {
  width: 528px;
  height: 581px;
  background-color: var(--acent-color-for-containers);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: fixed;
  z-index: 1;
  align-self: center;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal__close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  margin: 8px 0px 0px 490px;
  padding: 6px 0px 6px 0px;
  background-color: var(--acent-color-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 40px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 40px;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__item {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 4px 40px 10px 40px;
  padding-left: 15px;
  cursor: pointer;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__item:focus-within,
.modal__item:hover {
  fill: var(--second-main-text-color);
  border: 1px solid var(--second-main-text-color);
}
.modal__icon {
  width: 18px;
  height: 18px;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input {
  width: 380px;
  height: 20px;
  margin-left: 15px;
  border: var(--acent-color-text);
  outline: none;
  cursor: pointer;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin: 4px 40px 20px 40px;
  padding: 12px 16px;
  outline: none;
  cursor: pointer;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment:focus,
.modal__comment:hover {
  border: 1px solid var(--second-main-text-color);
}

.checkbox-label {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 420px;
  height: 24px;
  margin: 0px 54px 0px 54px;
}
.box-checkbox {
  opacity: 0;
  width: 0px;
  height: 0px;
}
.box-checkbox:checked ~ .icon-checkbox-2 {
  background-color: var(--second-main-text-color);
  --color2: var(--acent-color-text);
  opacity: 1;
  visibility: visible;
  border-radius: 2px;
}
.icon-checkbox-1 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10%;
  left: 0;
}
.icon-checkbox-2 {
  position: absolute;
  width: 16px;
  height: 16px;
  --color2: var(--main-text-color);
  visibility: hidden;
  top: 10%;
  left: 0;
}
.modal__statement {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  white-space: nowrap;
  margin: 0px 0px 0px 23px;
}
.modal__statement-accent {
  color: var(--second-main-text-color);
  text-decoration: underline;
}
.main-btn {
  text-align: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  color: var(--acent-color-text);
  letter-spacing: 0.06em;
  background: var(--second-main-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn--footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-btn--modal {
  margin: 30px 164px;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--second-main-text-color);
  color: var(--acent-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.main-btn_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--acent-color-text);
}
.main-btn_text--footer {
  margin-right: 24px;
  letter-spacing: 0.06em;
  text-align: center;
  white-space: nowrap;
}
.rectangles {
  list-style-type: none;
  display: flex;
  margin-top: 94px;
  margin-bottom: 30px;
  padding: 0px;
}
.rectangles__item {
  width: 270px;
  height: 120px;
  background-color: var(--team-container-color-background);
  border-radius: 4px;
}
.rectangle:not(:last-child) {
  margin-right: 30px;
}

.rectangles__1 {
  margin-top: 25px;
  width: 65.32px;
  height: 70px;
}

.rectangles__2 {
  margin-top: 25px;
  width: 66.96px;
  height: 70px;
}

.rectangles__3 {
  margin-top: 33.2px;
  width: 70px;
  height: 53.69px;
}

.rectangles__4 {
  margin-top: 30.23px;
  width: 54.83px;
  height: 60.66px;
}

.lorems {
  width: 1200px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  display: flex;
}

.lorems__h {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  list-style-type: none;
  width: 270px;
  height: auto;
  text-align: left;
}
.lorems__h:not(:last-child) {
  margin-right: 30px;
}
.lorems__text {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: none;
  color: var(--third-main-text-color);
  margin: 10px 0px 0px 0px;
}
.lorems__text:not(:last-child) {
  margin-right: 30px;
}
.secondary-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: auto;
  margin-bottom: 50px;
}
.images-list-1 {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  display: flex;
}
.images-list-1__item:not(:last-child) {
  margin-right: 30px;
}
.images-list-1__label {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--acent-color-text);
  background-color: #2196f3;
  background: rgba(47, 48, 58, 0.8);
  position: relative;
  bottom: 74px;
  width: 370px;
  height: 70px;
  margin: 0;
  padding: 27px 90px;
}
.third-container {
  width: 1200px;
  background-color: var(--acent-color-for-containers);
  margin: auto;
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  background: var(--team-container-color-background);
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.third-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  width: 352px;
  margin: auto;
  margin-bottom: 50px;
}

.images-list-2 {
  list-style-type: none;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.images-list-2__item:not(:last-child) {
  margin-right: 30px;
}
.images-list-2__card {
  background: var(--acent-color-for-containers);
  width: 270px;
  height: 428px;
  margin: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card__image {
  width: 270px;
  height: 260px;
}
.card__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--third-main-text-color);
}
.list-icons {
  list-style-type: none;
  display: flex;
  width: 206px;
  height: 56px;
  padding: 0px;
  margin: auto;
  margin-top: 16px;
}
.list-icons__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-icons__item--bottom {
  --color2: var(--acent-color-text);
  background-color: #ffffff1a;
}
.list-icons__item:hover,
.list-icons__item:focus {
  background-color: var(--second-main-text-color);
  --color3: var(--acent-color-text);
}
.list-icons__item:not(:last-child) {
  margin-right: 10px;
}
.list-icons__instagram {
  width: 20px;
  height: 20px;
  margin: auto;
}
.list-icons__instagram--bottom {
  --color3: var(--acent-color-text);
}
.list-icons__twitter {
  width: 20px;
  height: 20px;
  margin: auto;
}
.list-icons__twitter--bottom {
  --color3: var(--acent-color-text);
}
.list-icons__facebook {
  width: 20px;
  height: 20px;
  margin: auto;
}
.list-icons__facebook--bottom {
  --color3: var(--acent-color-text);
}
.list-icons__linkedin {
  width: 20px;
  height: 20px;
  margin: auto;
}
.list-icons__linkedin--bottom {
  --color3: var(--acent-color-text);
}
.our-customers {
  width: 100%;
  background-color: var(--acent-color-for-containers);
  margin-top: 94px;
}
.our-customers-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: auto;
}
.rectangles-list-2 {
  list-style-type: none;
  display: flex;
  margin-top: 50px;
  margin-bottom: 94px;
  padding: 0px;
}
.customer-rectangle {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  cursor: pointer;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-rectangle:hover,
.customer-rectangle:focus {
  --color3: var(--second-main-text-color);
  border-color: var(--second-main-text-color);
}
.customer-rectangle:not(:last-child) {
  margin-right: 30px;
}
.customer-rectangle__image {
  width: 106px;
  height: 60.04px;
}
.footer-first-page {
  background: var(--acent-color-for-containers-two);
}
.footer-section {
  padding: 0px 60px 60px 60px;
}
.container-footer {
  display: flex;
}
.container-footer-items {
  text-align: left;
  width: fit-content;
  margin: 60px 0px 0px 0px;
}
.footer-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
  margin-top: 20px;
}
.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-h {
  width: 113px;
  color: var(--acent-color-text);
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 20px;
  margin-top: 0px;
}
.location {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--acent-color-text);
  margin-top: 0px;
  margin-bottom: 0px;
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.location:hover,
.location:focus {
  text-decoration: none;
}
.join-us-container {
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-bottom: 100px;
  margin-top: 72px;
}

.newsletter-container {
  width: 570px;
  height: 86px;
  margin: 72px 215px 94px 78px;
}
.newsletter-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  width: fit-content;
  margin: 0;
}
.footer-form {
  display: flex;
  margin-top: 20px;
}
.footer-form_input {
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--acent-color-for-containers-two);
  padding: 15px 16px;
  margin-right: 12px;
  cursor: pointer;
}
.portfolio-container {
  width: 1170px;
  background-color: var(--acent-color-for-containers);
  margin: 94px auto;
}
.list-with-project {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: auto;
  gap: 30px;
}
.card-container__description {
  border: 1px solid #eeeeee;
  height: 110px;
}

.card-container {
  width: 370px;
  height: 404px;
  background: var(--acent-color-for-containers);
  margin: 0px;
  cursor: pointer;
}
.card-container:hover,
.card-container:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-container__box {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.card-container:hover .card-container__overlay {
  transform: translatex(0);
}
.card-container__overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  transform: translatey(+100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: center;
  display: flex;
}
.card-container__overlay > p {
  color: #fff;
  font-size: 18px;
}
.card-container__overlay-text {
  position: absolute;
  width: 301px;
  height: 196px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: left;
  display: block;
  margin: 49px 45px 49px 25px;
}
.card-container__image {
  width: 370px;
  height: 294px;
  display: block;
}
.list-texts {
  list-style-type: none;
  padding: 0;
  margin: 20px 24px;
  text-align: left;
}
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin: 0px;
}
.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--third-main-text-color);
  margin: 0px;
  margin-top: 4px;
}
.portfolio-btns {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: var(--main-text-color);
  margin: 0px;
  margin-bottom: 34px;
  padding: 0;
  padding-bottom: 16px;
  justify-content: center;
}
.portfolio-btns-item:not(:last-child) {
  margin-right: 8px;
}
.btn-portfolio-1 {
  width: 121px;
  height: 38px;
  background: var(--buttons-color-background);
  cursor: pointer;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
}
.btn-portfolio-2 {
  cursor: pointer;
  width: 93px;
  height: 38px;
  background: var(--buttons-color-background);
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
}
.btn-portfolio-3 {
  cursor: pointer;
  width: 114px;
  height: 38px;
  background: var(--buttons-color-background);
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
}
.btn-portfolio-4 {
  cursor: pointer;
  width: 91px;
  height: 38px;
  background: var(--buttons-color-background);
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
}
.btn-portfolio-5 {
  cursor: pointer;
  width: 121px;
  height: 38px;
  background: var(--buttons-color-background);
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px 6px 22px;
}
.btn-portfolio-1:hover,
.btn-portfolio-1:focus,
.btn-portfolio-2:hover,
.btn-portfolio-2:focus,
.btn-portfolio-3:hover,
.btn-portfolio-3:focus,
.btn-portfolio-4:hover,
.btn-portfolio-4:focus,
.btn-portfolio-5:hover,
.btn-portfolio-5:focus {
  background-color: var(--second-main-text-color);
  color: var(--acent-color-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
