$color-main-text: #212121;
$color-second-main-text: #2196f3;
$color-third-main-text: #757575;
$color-second-contacts: #ffffff99;
$color-acent-text: #ffffff;
$color-acent-containers: #ffffff;
$color-acent-containers-two: #2f303a;
$second-color-background: #f5f4fa;

$second-font-style: "Raleway";
$main-font-style: "Roboto", sans-serif;
$font-thick: 700;
$font-mid: 500;
$font-thin: 400;
